@{
    Layout = null; 
}

<!DOCTYPE html>
<html>
<head>
    <title>Podgląd wydruku</title>
</head>
<body>
    <div>
        @Html.Raw(ViewBag.ContentToPrint)
    </div>
    <script>
        window.print(); 
    </script>
</body>
</html>
