@model PasswordPolicyViewModel

<h2>Zarządzaj polityką haseł</h2>

<form asp-action="ManagePasswordPolicy" method="post">
    <div>
        <label>Minimalna długość hasła</label>
        <input type="number" asp-for="RequiredLength" min="1" />
    </div>
    <div>
        <label>Wymagane cyfry</label>
        <input type="checkbox" asp-for="RequireDigit" />
    </div>
    <div>
        <label>Wymagana mała litera</label>
        <input type="checkbox" asp-for="RequireLowercase" />
    </div>
    <div>
        <label>Wymagana duża litera</label>
        <input type="checkbox" asp-for="RequireUppercase" />
    </div>
    <div>
        <label>Wymagane znaki specjalne</label>
        <input type="checkbox" asp-for="RequireNonAlphanumeric" />
    </div> 
    <div>
        <label>Data wygaśnięcia hasła</label>
        <input type="DateTime" asp-for="ExpiryDate" />
    </div>
    <button type="submit">Zapisz</button>
</form>
